|{
|  "usuario":[
each cliente, idx in clientes.cliente
  - var commas = (idx) ? ',' : ''
  |    #{commas}
  |    {
  |      "nome": "#{cliente.nome}",
  |      "telefone": "#{cliente.dados.telefone}",
  |      "email": "#{cliente.dados.email}"
  |    }
|  ]
|}
